@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: rgb(231, 179, 110);
    border-radius: 4px;
  }
  .active{
    background-color:#ffebf5;
    border-color: brown;
  }

*{
  font-family: Outfit;
}